<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/userPage.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ed9f9b4561.js" crossorigin="anonymous"></script>

    </head>
    <body>
    <!-- <p style="color: black;">
        <%= name%>
        <%= lastName %>
        <%= String(birthDate).slice(0,15) %>
    </p> -->

    <header>
        <span id="chatgate" >Chatgate</span>
        <span id="messages"><i class="fa-sharp fa-solid fa-message"></i></span>
        <span id="logout">logout <i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i></span>
    </header>

    <main>
        <aside id="people">
            <% for (user of result) { %> 
                <div class="items">
                    <img src = "<%='../media/uploads/' + user.profile  %>" alt="" class="profil">
                    <p class="usr-name"><%= user.name + ' ' + user.lastName %> </p>
                </div>
            <% } %> 
        </aside>

        <section id="profile">
            <figure id="image">
                <img src = "<%='../media/uploads/' + profile  %>" alt="">
                <figcaption><span id = "name"><%= name + ' ' + lastName %></span> </figcaption>
            </figure>
            
        </section>
        <section id="friends">

        </section>

        <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
    </script>
    <script>
       
        jQuery( function($) {
            $('#people').on('scroll', function() {
                if ($(this).scrollTop() +
                    $(this).innerHeight() >= 
                    $(this)[0].scrollHeight) {
                    
                    
                    $('#people').append('<div id ="loader"><span class="throbber-loader"></span></div>')
                    
                 
                }
            });
        });
    </script>
    </main>
    </body>
</html>